.switch-filter {
    margin-bottom: 20px;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-group .btn-item {
    width: 100%;
    background: #fff;
    padding: 15px 0;
    border: 1px solid #DFE5EC;
    text-transform: uppercase;
    transition: all .2s;
    font-size: 13px;
}
.btn-group .btn-item:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
.btn-group .btn-item:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}
.btn-group .btn-item:hover, .btn-group .btn-item.active {
    color: #fff;
    background: #2196F3;
}